body {
    display: flex;
    align-items: left;
    padding-left: 100px;
    align-content: center;
    margin:10px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(22, 148, 252, 0.753);
    background-image: url(..//project-images/little-girl-with-dad-dressed-super-heroes-happy-loving-family.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    height: 150vh;
  
}

#newhero{
    background-color: rgba(0, 0, 255, 0.116);
    border-width: 5px; 
    border-radius: 15px; color: antiquewhite; 
    width: fit-content; 
    font-size: 25px;
}

#newhero:hover{
        border: rgb(0, 253, 211) 5px solid;
        background-color: turquoise, 1;
        color: lightblue;
}

#SearchButton{
    background-color: rgba(0, 0, 255, 0.116);
    border-width: 5px; 
    border-radius: 15px; color: antiquewhite; 
    width: fit-content; 
    font-size: 25px;
}
#SearchButton:hover{
    border: rgb(0, 253, 211) 5px solid;
    background-color: turquoise, 1;
    color: lightblue;
}

h2{
    font-weight: bolder;
    font-size: 100px;
    margin:0;
    padding:10px;
    color: antiquewhite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2718fa, 0 0 40px #2718fa, 0 0 50px
        #00fafa, 0 0 60px #5fb8f3, 0 0 70px #5fb8f3;
}


p{
    color: antiquewhite;
    font-size: 20px;
    -webkit-text-stroke-width: .05px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2718fa, 0 0 40px #2718fa, 0 0 50px
        #00fafa, 0 0 60px #5fb8f3, 0 0 70px #5fb8f3;
}

.heroImage{
   align-self: center;
}
